/*$primary:#083358;
$secondary:#F67280;
$success:#0074E4;
$danger:#FF4057;
$info:#74DBEF;
$warning:#FC3C3C;
$light:#F2F2F0;
$dark:#072247;*/

/*$custom-colors: (
    "light-blue": $light-blue,
    "medium-grey": $medium-grey,
    "light-grey": $light-grey,
    "dark-blue": $dark-blue,
    "grey": $grey,
    "white": $white
);*/

